<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.BackeryManagment"
        tools:targetApi="31">
        <activity
            android:name=".AddNewSaleActivity"
            android:exported="false" />
        <activity
            android:name=".updateSaleActivity"
            android:exported="false" />
        <activity
            android:name=".SalesActivity"
            android:exported="false" />
        <activity
            android:name=".AddNewEmployeeActivity"
            android:exported="false" />
        <activity
            android:name=".employeUpdateActivity"
            android:exported="false" />
        <activity
            android:name=".AddNewCustomerActivity"
            android:exported="false" />
        <activity
            android:name=".customerUpdateActivity"
            android:exported="false" />
        <activity
            android:name=".AddNewLoansActivity"
            android:exported="false" />
        <activity
            android:name=".LoansUpdateActivity"
            android:exported="false" />
        <activity
            android:name=".MaterailUpdateActivity"
            android:exported="false" />
        <activity
            android:name=".AddNewMaterialActivety"
            android:exported="false" />
        <activity
            android:name=".CustomerActivity"
            android:exported="false" />
        <activity
            android:name=".ReportActivity"
            android:exported="false" />
        <activity
            android:name=".EmployeeActivity"
            android:exported="false" />
        <activity
            android:name=".LoansActivity"
            android:exported="false" />
        <activity
            android:name=".MatiralActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>